:root{
  --bg: #111; /* bg variable has value #111 for very dark grey/almost black color */
}
*{box-sizing:border-box;margin:0;padding:0} /* "*" = select every element on page*/
html,body,#app{ /*#app container fills browser viewport vertically */
  height:100%;/*set height=100% for elements: html,body, & the #app container */
}
body{
  background: var(--bg); /* bg variable from earlier*/
  color: #fff; /*if a wanna add text, white is the default text color */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  display:flex; /* whatever I put inside the body (like #app) will be centered in the viewport */
  align-items:center;
  justify-content:center;
}
#app{ /*DOM element that contains canvas */
  width:100%;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  padding: 12px;
}

/*hide elements in visual part of display (but not the coding part). So like, for screen readers who can't see the canvas*/
.visually-hidden{
  position:absolute !important; /*make sure it doesn't affect layout & overrides other position rules */
  height:1px;width:1px; /* shrink to make it basically invisible*/
  overflow:hidden;clip:rect(1px,1px,1px,1px);/*clip element so contents don't display */
  white-space:nowrap;border:0;padding:0;margin:-1px; /*prevent line breaks inside text to avoid weird wrapping/re-sizing 
	& remove border/padding & apply margin to keep it more out of sight*/
}
